{
	"name":"wheels-test-app",
	"web":{
			"host":"localhost",
			"webroot": "public",
			"rewrites":{
					"enable":true,
					"config":"public/urlrewrite.xml"
			}
	},
	"app":{
			"cfengine":"lucee@6",
      "libDirs":"app/lib"
	}
}
