<cfscript>
    /**
     * Application Settings
     */
    
    // Reload password for development
    set(reloadPassword = "reload@@@DATABASE@");
    
    // Environment settings will override these settings
    // based on the current environment (development, testing, production)
</cfscript>