name: Sync Docs to Shared Folder

on:
  workflow_call:
    secrets:
      SLACK_WEBHOOK_URL:
        required: true


jobs:
  sync:
    runs-on: [self-hosted, wheels-FW]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Sync to shared docs folder
        run: |
          rsync -av --no-perms --no-owner --no-group --del docs/src/ /mnt/shared/docs/3.0.0/guides
          rsync -av --no-perms --no-owner --no-group docs/src/.gitbook/assets/ /mnt/shared/public/images
          rsync -av --no-perms --no-owner --no-group --del docs/api/ /mnt/shared/public/json


