name: Sync Docs to Shared Folder

on:
  push:
    branches:
      - docs-sync-with-wheels.dev
    paths:
      - 'docs/src/**'
      - '.github/workflows/sync-docs.yml'

jobs:
  sync:
    runs-on: [self-hosted, wheels-FW]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Sync to shared docs folder
        run: |
          rsync -av --delete docs/src/ /home/swarm-1/test/docs/3.0.0/
