name: Sync Docs to Shared Folder

on:
  push:
    branches:
      - develop
    paths:
      - 'docs/src/**'
      - '.github/workflows/docs-sync.yml'

jobs:
  sync:
    runs-on: [self-hosted, wheels-FW]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Sync to shared docs folder
        run: |
          rsync -av --no-perms --no-owner --no-group --del docs/src/ /mnt/shared/docs/3.0.0/guides
