name: Sync Docs to Remote Server

on:
  push:
    branches:
      - docs-sync-with-wheels.dev
    paths:
      - 'docs/src/**'
      - '.github/workflows/docs-sync.yml'

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Wheels Repo
        uses: actions/checkout@v3

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SWARM_1_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.SWARM_1_HOST }} >> ~/.ssh/known_hosts

      - name: Sync docs to remote server
        run: |
          rsync -av docs/src/ ${{ secrets.SWARM_1_USER }}@${{ secrets.SWARM_1_HOST }}:/mnt/shared/docs/3.0.0/guides/