name: Wheels Pull Requests

on:
#  push:
#    branches-ignore:
#      - "main"
#      - "develop"
  pull_request:
    branches:
      - develop

jobs:
  label:
    name: Auto-Label PR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/labeler@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  tests:
    uses: ./.github/workflows/tests.yml
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
