# This workflow is used to release master releases and also by the snapshot workflow
# to release snapshots.
name: Wheels Release

on:
  push:
    branches:
      - main
  workflow_call:
    secrets:
      SLACK_WEBHOOK_URL:
        required: true
      FORGEBOX_API_TOKEN:
        required: true
      FORGEBOX_PASS:
        required: true

env:
  WHEELS_PRERELEASE: false

jobs:
  #############################################
  # Build Snapshot or Final Release
  #############################################
  build:
    name: Build & Publish Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        id: Checkout-Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Environment Variables For Build Process
        id: Calculate-Version-And-Branch
        run: |
          pwd
          cat box.json
          echo "WHEELS_VERSION=`cat box.json | jq '.version' -r`+${{ github.run_number }}" >> $GITHUB_ENV
          # main or snapshot
          echo "BRANCH=main" >> $GITHUB_ENV
          if [ $GITHUB_REF == 'refs/heads/develop' ]
          then
            echo "BRANCH=develop" >> $GITHUB_ENV
          fi

      - name: Make build scripts executable
        run: chmod +x build/scripts/*.sh

      - name: Build Wheels Base Template
        id: Build-Wheels-Base
        run: |
          ./build/scripts/build-base.sh "${{ env.WHEELS_VERSION }}" "${{ env.BRANCH }}" "${{ github.run_number }}" "${{ env.WHEELS_PRERELEASE }}"

      - name: Upload Wheels Base Template Artifact
        id: Upload-Wheels-Base
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: wheels-base-template
          path: |
            artifacts/build-wheels-base/${{ env.WHEELS_VERSION }}/wheels-base-template-*.zip
            artifacts/build-wheels-base/${{ env.WHEELS_VERSION }}/wheels-base-template-*.md5
            artifacts/build-wheels-base/${{ env.WHEELS_VERSION }}/wheels-base-template-*.sha512
            artifacts/build-wheels-base/wheels-base-template-be.zip

      - name: Publish Wheels Base Template Package
        id: Publish-Base-Template
        uses: pixl8/github-action-box-publish@v4
        with:
          forgebox_user: wheels-dev
          forgebox_pass: ${{ secrets.FORGEBOX_PASS }}
          force: "true"
        env:
          BOXJSON_DIR: /build-wheels-base/

      - name: Build Wheels Core
        id: Build-Wheels-Core
        run: |
          ./build/scripts/build-core.sh "${{ env.WHEELS_VERSION }}" "${{ env.BRANCH }}" "${{ github.run_number }}" "${{ env.WHEELS_PRERELEASE }}"

      - name: Upload Wheels Core Artifact
        id: Upload-Wheels-Core
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: wheels-core
          path: |
            artifacts/wheels/${{ env.WHEELS_VERSION }}/wheels-*.zip
            artifacts/wheels/${{ env.WHEELS_VERSION }}/wheels-*.md5
            artifacts/wheels/${{ env.WHEELS_VERSION }}/wheels-*.sha512
            artifacts/wheels/wheels-be.zip

      - name: Publish Wheels Core package
        id: Publish-Core-Package
        uses: pixl8/github-action-box-publish@v4
        with:
          forgebox_user: wheels-dev
          forgebox_pass: ${{ secrets.FORGEBOX_PASS }}
          force: "true"
        env:
          BOXJSON_DIR: /build-wheels-core/wheels

      - name: Build Wheels CLI
        id: Build-Wheels-CLI
        run: |
          ./build/scripts/build-cli.sh "${{ env.WHEELS_VERSION }}" "${{ env.BRANCH }}" "${{ github.run_number }}" "${{ env.WHEELS_PRERELEASE }}"

      - name: Upload Wheels CLI Artifact
        id: Upload-Wheels-CLI
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: wheels-cli
          path: |
            artifacts/wheels/${{ env.WHEELS_VERSION }}/wheels-cli-*.zip
            artifacts/wheels/${{ env.WHEELS_VERSION }}/wheels-cli-*.md5
            artifacts/wheels/${{ env.WHEELS_VERSION }}/wheels-cli-*.sha512
            artifacts/wheels/wheels-cli-be.zip

      - name: Publish Wheels CLI package
        id: Publish-CLI-Package
        uses: pixl8/github-action-box-publish@v4
        with:
          forgebox_user: wheels-dev
          forgebox_pass: ${{ secrets.FORGEBOX_PASS }}
          force: "true"
        env:
          BOXJSON_DIR: /build-wheels-cli/wheels-cli
