# This workflow is used to release master releases and also by the snapshot workflow
# to release snapshots.
name: CFWheels Release

on:
  push:
    branches:
      - main
  workflow_call:
    secrets:
      SLACK_WEBHOOK_URL:
        required: true
      FORGEBOX_API_TOKEN:
        required: true
      FORGEBOX_PASS:
        required: true

env:
  CFWHEELS_PRERELEASE: false

jobs:
  #############################################
  # Build Snapshot or Final Release
  #############################################
  build:
    name: Build & Publish Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        id: Checkout-Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Environment Variables For Build Process
        id: Calculate-Version-And-Branch
        run: |
          cat box.json
          echo "CFWHEELS_VERSION=`cat box.json | jq '.version' -r`+${{ github.run_number }}" >> $GITHUB_ENV
          # main or snapshot
          echo "BRANCH=main" >> $GITHUB_ENV
          if [ $GITHUB_REF == 'refs/heads/develop' ]
          then
            echo "BRANCH=develop" >> $GITHUB_ENV
          fi

      - name: Build CFWheels Variants for ${{ env.BRANCH }} v${{ env.CFWHEELS_VERSION }}
        id: Build-CFWheels-Variants
        run: |
          ant -DisPreRelease=${{ env.CFWHEELS_PRERELEASE }} -Dcfwheels.version=${{ env.CFWHEELS_VERSION }} -Dbuild.branch=${{ env.BRANCH }} -Dbuild.number=${{ github.run_number }} -f build/build.xml

      - name: Upload CFWheels Core Artifact
        id: Upload-CFWheels-Core
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: cfwheels-core
          path: |
            artifacts/cfwheels/${{ env.CFWHEELS_VERSION }}/cfwheels-*.zip
            artifacts/cfwheels/${{ env.CFWHEELS_VERSION }}/cfwheels-*.md5
            artifacts/cfwheels/${{ env.CFWHEELS_VERSION }}/cfwheels-*.sha512
            artifacts/cfwheels/cfwheels-be.zip

      - name: Upload CFWheels Base Template Artifact
        id: Upload-CFWheels-Base
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: cfwheels-base-template
          path: |
            artifacts/cfwheels/${{ env.CFWHEELS_VERSION }}/cfwheels-base-template-*.zip
            artifacts/cfwheels/${{ env.CFWHEELS_VERSION }}/cfwheels-base-template-*.md5
            artifacts/cfwheels/${{ env.CFWHEELS_VERSION }}/cfwheels-base-template-*.sha512
            artifacts/cfwheels/cfwheels-base-template-be.zip

      - name: Upload Wheels CLI Artifact
        id: Upload-Wheels-CLI
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: wheels-cli
          path: |
            artifacts/cfwheels/${{ env.CFWHEELS_VERSION }}/wheels-cli-*.zip
            artifacts/cfwheels/${{ env.CFWHEELS_VERSION }}/wheels-cli-*.md5
            artifacts/cfwheels/${{ env.CFWHEELS_VERSION }}/wheels-cli-*.sha512
            artifacts/cfwheels/wheels-cli-be.zip

      - name: Upload All CFWheels Artifacts (Combined)
        id: Upload-All-Artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: cfwheels-all-variants
          path: |
            artifacts/**/*

      # publish core package
      - uses: pixl8/github-action-box-publish@v4
        id: Publish-Core-Package
        with:
          forgebox_user: wheels-dev
          forgebox_pass: ${{ secrets.FORGEBOX_PASS }}
          force: "true"
        env:
          BOXJSON_DIR: /build-cfwheels-core/cfwheels

      # publish base package
      - uses: pixl8/github-action-box-publish@v4
        id: Publish-Base-Template
        with:
          forgebox_user: wheels-dev
          forgebox_pass: ${{ secrets.FORGEBOX_PASS }}
          force: "true"
        env:
          BOXJSON_DIR: /build-cfwheels-base/cfwheels

      # publish CLI package
      - uses: pixl8/github-action-box-publish@v4
        id: Publish-CLI-Package
        with:
          forgebox_user: wheels-dev
          forgebox_pass: ${{ secrets.FORGEBOX_PASS }}
          force: "true"
        env:
          BOXJSON_DIR: /build-cfwheels-cli/wheels-cli

#      - name: Post Slack Message
#        id: Post-Slack-Message
#        uses: act10ns/slack@v2
#        with:
#          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
#          status: ${{ job.status }}
#          steps: ${{ toJson(steps) }}
#          channel: '#wheels-dev'
#        if: always()
